### 웹크롤링 과제
- 자신이 좋아하는 신문사이트에서 오늘 메인 기사의 제목과 내용을 가져와서 엑셀에 담기

In [3]:
import os, re, csv
import requests # URL 주소에 있는 내용을 요청할 때 사용하는 모듈
import urllib.request as ur  # 웹에서 얻은 데이터를 다루는 파이썬 패키지
from bs4 import BeautifulSoup as bs

In [12]:
article1 = 'https://news.jtbc.joins.com/'
soup2 = bs(ur.urlopen(article1).read(), 'html.parser')

#### jtbc 헤드라인 기사 추출

In [5]:
jtbc_news = 'https://news.jtbc.joins.com/'
jtbcSoup = bs(ur.urlopen(jtbc_news).read(), 'html.parser')

In [6]:
jtbc_headline = jtbcSoup.find_all('div', {"class" : "feed_img"})
# 여러 링크를 사용해 모든 머리기사의 제목과 내용을 가져오기
for i in jtbc_headline:
    #print(i.text, '\n')
    print(i.find_all('a')[0].get('href'))

http://news.jtbc.joins.com/html/285/NB11992285.html
http://news.jtbc.joins.com/html/359/NB11992359.html
http://news.jtbc.joins.com/html/380/NB11992380.html
http://news.jtbc.joins.com/html/250/NB11992250.html
http://news.jtbc.joins.com/html/138/NB11992138.html
http://news.jtbc.joins.com/html/329/NB11992329.html
http://news.jtbc.joins.com/html/365/NB11992365.html
http://news.jtbc.joins.com/html/241/NB11992241.html
http://news.jtbc.joins.com/html/249/NB11992249.html

In [7]:
import pandas as pd

In [8]:
# 리스트로 데이터 프레임 만들기 예제
sales = {'account': ['Jones LLC', 'Alpha Co', 'Blue Inc'],
         'Jan': [150, 200, 50],
         'Feb': [200, 210, 90],
         'Mar': [140, 215, 95]}
df = pd.DataFrame.from_dict(sales)
df

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

In [9]:
title = []
content = []
for i in jtbc_headline:
    title.append(i.text) # 기사제목을 저장한다.
    #print(i.text, '\n') 
    
    #  해당 기사가 올라와 있는 웹 사이트를 열어 soup3 객체에 저장한다.    
    jSoup3 = bs(ur.urlopen(i.find_all('a')[0].get('href')).read(), 'html.parser')  
    #print(jSoup3)
    
    for j in jSoup3.find_all('div', {"class" : "bd article04 article_m"}): # <div> 태그에서 텍스트만 출력한다.
        content.append(j.text) # 기사 내용을 저장한다.
        #print(j.text)

articles = {'기사제목' : title,
            '기사내용' : content}

In [10]:
df_jtbc = pd.DataFrame.from_dict(articles)
df_jtbc.head()

,기사제목,기사내용
0,오늘부터 수도권 영업 밤 10시까지…'직계 5인' 허용,\n\n[앵커]코로나19 3차 대유행으로 두 달 넘게 이어져 온 고강도 사회적 거리...
1,"지진 공포에 떠는 일본…전문가 ""규모 9.0 지진 가능성도""",\n\n지난 13일 밤 일본 후쿠시마현 앞바다에서 발생한 규모 7.3의 지진으로 인...
2,"비정규직 '쿠팡친구'도 쿠팡 주식 받는다…""1인당 200만원 상당""",\n\r\n 미국 뉴욕증권거래소 상장을 앞둔...
3,"정어리 폐사, 사하라 사막 폭설…온난화의 역습",\n\n[앵커]지난해 여름에는 미국에서 물고기가 떼죽음을 당했는데…이번에는 칠레에서...
4,"'얼굴 멍' 생후 2주 아기 숨져…부모 ""분유 토해서 때려""",\n\n[앵커]아동학대 사건이 또 확인됐습니다. 이번엔 생후 2주된 아기입니다. 전...

In [11]:
df_jtbc.to_excel("jtbc_headline_news.xlsx", index=False)