In [1]:
# 사전 - 요소 추가
solar1 = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solar2 = ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
solardict = {}
for i, k in enumerate(solar1):
    val = solar2[i]
    solardict[k] = val

print(solardict)

{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}

In [4]:
# 특정 요소값 변경하기
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
print(names)
names['Aimy'] = 10000
print(names)

{'Mary': 10999, 'Sams': 2111, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}
{'Mary': 10999, 'Sams': 2111, 'Aimy': 10000, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}

In [3]:
# 특정 요소 제거하기
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
print(names)
del names['Sams']
print(names)

{'Mary': 10999, 'Sams': 2111, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}
{'Mary': 10999, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}

In [5]:
# 모든 요소 제거하기
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
print(names)
names.clear()
print(names)

{'Mary': 10999, 'Sams': 2111, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}
{}

In [6]:
# 키만 추출하기(keys)
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
ks = names.keys()
print(ks)

for k in ks:
    print('Key:%s \tValue:%d' %(k, names[k]))

dict_keys(['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly'])
Key:Mary 	Value:10999
Key:Sams 	Value:2111
Key:Aimy 	Value:9778
Key:Tom 	Value:20245
Key:Michale 	Value:27115
Key:Bob 	Value:5887
Key:Kelly 	Value:7855

In [7]:
# 값만 추출하기(values)
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
vals = names.values()
print(vals)

vals_list = list(vals)
ret = sum(vals_list)
print('출생아수 총계: %d' %ret)

dict_values([10999, 2111, 9778, 20245, 27115, 5887, 7855])
출생아수 총계: 83990

In [8]:
# 사전 요소를 모두 추출하기
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
items = names.items()
print(items)

for item in items:
    print(item)

dict_items([('Mary', 10999), ('Sams', 2111), ('Aimy', 9778), ('Tom', 20245), ('Michale', 27115), ('Bob', 5887), ('Kelly', 7855)])
('Mary', 10999)
('Sams', 2111)
('Aimy', 9778)
('Tom', 20245)
('Michale', 27115)
('Bob', 5887)
('Kelly', 7855)

In [12]:
# 사전 요소를 모두 추출하기
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
for item in names.items():
    print(item)

('Mary', 10999)
('Sams', 2111)
('Aimy', 9778)
('Tom', 20245)
('Michale', 27115)
('Bob', 5887)
('Kelly', 7855)

In [19]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
for key, values in names.items():
    if key != 'Mary':
        print("key는 %s, value는 %d" %(key, values))

key는 Sams, value는 2111
key는 Aimy, value는 9778
key는 Tom, value는 20245
key는 Michale, value는 27115
key는 Bob, value는 5887
key는 Kelly, value는 7855

In [36]:
# p 143 ( for와 range를 사용한 구구단)
for i in range(2,10):
    for j in range(1,10):
        print(" %d + %d = %d " %(i, j, i*j))
    print("="*12)

 2 + 1 = 2
 2 + 2 = 4
 2 + 3 = 6
 2 + 4 = 8
 2 + 5 = 10
 2 + 6 = 12
 2 + 7 = 14
 2 + 8 = 16
 2 + 9 = 18
============
 3 + 1 = 3
 3 + 2 = 6
 3 + 3 = 9
 3 + 4 = 12
 3 + 5 = 15
 3 + 6 = 18
 3 + 7 = 21
 3 + 8 = 24
 3 + 9 = 27
============
 4 + 1 = 4
 4 + 2 = 8
 4 + 3 = 12
 4 + 4 = 16
 4 + 5 = 20
 4 + 6 = 24
 4 + 7 = 28
 4 + 8 = 32
 4 + 9 = 36
============
 5 + 1 = 5
 5 + 2 = 10
 5 + 3 = 15
 5 + 4 = 20
 5 + 5 = 25
 5 + 6 = 30
 5 + 7 = 35
 5 + 8 = 40
 5 + 9 = 45
============
 6 + 1 = 6
 6 + 2 = 12
 6 + 3 = 18
 6 + 4 = 24
 6 + 5 = 30
 6 + 6 = 36
 6 + 7 = 42
 6 + 8 = 48
 6 + 9 = 54
============
 7 + 1 = 7
 7 + 2 = 14
 7 + 3 = 21
 7 + 4 = 28
 7 + 5 = 35
 7 + 6 = 42
 7 + 7 = 49
 7 + 8 = 56
 7 + 9 = 63
============
 8 + 1 = 8
 8 + 2 = 16
 8 + 3 = 24
 8 + 4 = 32
 8 + 5 = 40
 8 + 6 = 48
 8 + 7 = 56
 8 + 8 = 64
 8 + 9 = 72
============
 9 + 1 = 9
 9 + 2 = 18
 9 + 3 = 27
 9 + 4 = 36
 9 + 5 = 45
 9 + 6 = 54
 9 + 7 = 63
 9 + 8 = 72
 9 + 9 = 81
============

In [43]:
# p 143 ( for와 range를 사용한 구구단)
for i in range(2,10):
    print("-----------\n"+"%5d단\n" %(i) +'-----------')
    for j in range(1,10):  
        print(" %d + %d = %d " %(i, j, i*j))

-----------
    2단
-----------
 2 + 1 = 2
 2 + 2 = 4
 2 + 3 = 6
 2 + 4 = 8
 2 + 5 = 10
 2 + 6 = 12
 2 + 7 = 14
 2 + 8 = 16
 2 + 9 = 18
-----------
    3단
-----------
 3 + 1 = 3
 3 + 2 = 6
 3 + 3 = 9
 3 + 4 = 12
 3 + 5 = 15
 3 + 6 = 18
 3 + 7 = 21
 3 + 8 = 24
 3 + 9 = 27
-----------
    4단
-----------
 4 + 1 = 4
 4 + 2 = 8
 4 + 3 = 12
 4 + 4 = 16
 4 + 5 = 20
 4 + 6 = 24
 4 + 7 = 28
 4 + 8 = 32
 4 + 9 = 36
-----------
    5단
-----------
 5 + 1 = 5
 5 + 2 = 10
 5 + 3 = 15
 5 + 4 = 20
 5 + 5 = 25
 5 + 6 = 30
 5 + 7 = 35
 5 + 8 = 40
 5 + 9 = 45
-----------
    6단
-----------
 6 + 1 = 6
 6 + 2 = 12
 6 + 3 = 18
 6 + 4 = 24
 6 + 5 = 30
 6 + 6 = 36
 6 + 7 = 42
 6 + 8 = 48
 6 + 9 = 54
-----------
    7단
-----------
 7 + 1 = 7
 7 + 2 = 14
 7 + 3 = 21
 7 + 4 = 28
 7 + 5 = 35
 7 + 6 = 42
 7 + 7 = 49
 7 + 8 = 56
 7 + 9 = 63
-----------
    8단
-----------
 8 + 1 = 8
 8 + 2 = 16
 8 + 3 = 24
 8 + 4 = 32
 8 + 5 = 40
 8 + 6 = 48
 8 + 7 = 56
 8 + 8 = 64
 8 + 9 = 72
-----------
    9단
-----------
 9 + 1 = 9
 9 + 2 = 18
 9 + 3 = 27
 9 + 4 = 36
 9 + 5 = 45
 9 + 6 = 54
 9 + 7 = 63
 9 + 8 = 72
 9 + 9 = 81

In [48]:
# 특정키 존재 확인(in)
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
k = input('이름을 입력하세요: ')
if k in names:
    print('이름이 <%s>인 출생아수는 <%d>명 입니다.' %(k, names[k]))
else:
    print('자료에 <%s>인 이름이 존재하지 않습니다.' %k)

이름을 입력하세요: Mary
이름이 <Mary>인 출생아수는 <10999>명 입니다.

In [52]:
# 사전 정렬하기(sort)
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
ret1 = sorted(names)
print(ret1)

def f1(x):
    return x[0]

def f2(x):
    return x[1]

ret2 = sorted(names.items(), key=f1) # 키를 기준으로 정렬
print(ret2)

ret3 = sorted(names.items(), key=f2) # 값을 기준으로 정렬
print(ret3)

ret4 = sorted(names.items(), key=f2, reverse=True) # 값을 기준으로 내림차순 정렬
print(ret4)

ret5 = sorted(names.items(), key=f1, reverse=True) # 키를 기준으로 내림차순 정렬
print(ret5)

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]
[('Sams', 2111), ('Bob', 5887), ('Kelly', 7855), ('Aimy', 9778), ('Mary', 10999), ('Tom', 20245), ('Michale', 27115)]
[('Michale', 27115), ('Tom', 20245), ('Mary', 10999), ('Aimy', 9778), ('Kelly', 7855), ('Bob', 5887), ('Sams', 2111)]
[('Tom', 20245), ('Sams', 2111), ('Michale', 27115), ('Mary', 10999), ('Kelly', 7855), ('Bob', 5887), ('Aimy', 9778)]

In [50]:
# 문자열로 된 식을 실행하기
expr1 = '2+3'
expr2 = 'round(3.7)'
ret1 = eval(expr1)
ret2 = eval(expr2)
print('<%s>를 eval()로 실행한 결과: ' %expr1, end=' '); print(ret1)
print('<%s>를 eval()로 실행한 결과: ' %expr2, end=' '); print(ret2)

<2+3>를 eval()로 실행한 결과:  5
<round(3.7)>를 eval()로 실행한 결과:  4

In [1]:
# 이름없는 함수 만들기(lambda)
add = lambda x, y: x+y
ret = add(1, 3)
print(ret)    # 4가 출력됨

funcs = [lambda x: x+'.pptx', lambda x: x+'.docx']
ret1 = funcs[0]('Intro')
ret2 = funcs[1]('Report')
print(ret1)   # intro.pptx가 출력됨
print(ret2)   # Report.docx가 출력됨

names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 'Michale':27115,
          'Bob':5887, 'Kelly':7855}
ret3 = sorted(names.items(), key=lambda x: x[0])
print(ret3)

4
Intro.pptx
Report.docx
[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]

In [24]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 'Michale':27115,
          'Bob':5887, 'Kelly':7855}
ret3 = sorted(names.items(), key=lambda x: x[0],  reverse=True)
print(ret3)

[('Tom', 20245), ('Sams', 2111), ('Michale', 27115), ('Mary', 10999), ('Kelly', 7855), ('Bob', 5887), ('Aimy', 9778)]

In [25]:
# 인자를 바꾸면서 함수 반복 호출
f = lambda x: x*x
args = [1, 2, 3, 4, 5]
ret = map(f, args) 
# 파이썬 내장함수 map()은 집합 A와 함수 f가 주어지면
# 집합 B를 구해주는 함수와 동일한 역할 수행
print(list(ret))

[1, 4, 9, 16, 25]

In [46]:
 print(list(map(lambda x: x*x, range(1,6))))

[1, 4, 9, 16, 25]

In [38]:
 print(tuple(map(lambda x: x*x, range(1,6))))

(1, 4, 9, 16, 25)

In [41]:
f = lambda x, y: x*x + y
X = [1,2,3,4,5]
Y = [10,9,8,7,6]
ret = map(f, X, Y)
print(list(ret))

[11, 13, 17, 23, 31]

In [ ]:
# 계산 맞히기 게임 만들기
# 간단한 덧셈, 뺄셈, 곱셈 문제를 임의로 만들어 보여준다.
# 사용자가 이 문제를 보고 계산을 해서 답을 입력한다.
# 컴퓨터는 이 답이 정답인지 오답인지 계산해서 점수를 매깁니다.
# 이 과정을 다섯번 반복해서 전체 정답 수를 알려주는 게임 입니다.

In [47]:
# 프로젝트1 :계산 문제를 맞추는 게임
import random

def make_question():
    a = random.randint(1, 40)   # 1~40 사이의 임의의 수를 a에 저장합니다.
    b = random.randint(1, 20)   # 1~20 사이의 임의의 수를 b에 저장합니다.
    op = random.randint(1, 3)   # 1~3 사이의 임의의 수를 op에 저장합니다.

    # 문자열 변수 q에 문제를 만듭니다.
    # 첫 번째 숫자를 q에 저장합니다.
    q = str(a)                  # a 값(정수)을 문자열로 바꾸어 저장합니다.

    # 연산자를 추가합니다.
    if op == 1:                 # op 값이 1이면 덧셈 문제로 만듭니다.
        q = q + "+"
    if op == 2:                 # op 값이 2이면 뺄셈 문제로 만듭니다.
        q = q + "-"
    if op == 3:                 # op 값이 3이면 곱셈 문제로 만듭니다.
        q = q + "*"
    # 두 번째 숫자를 q에 저장합니다.
    q = q + str(b)              # b 값(정수)을 문자열로 바꾸어 q에 추가합니다.

    # 만들어진 문제를 돌려줍니다.
    return q

In [61]:
# 정답/오답 횟수를 저장할 변수 sc1과 sc2를 0으로 초기화합니다.
sc1 = 0           # 정답 변수 선언
sc2 = 0           # 오답 변수 선언

for q in range(5):       # 다섯 문제를 풀어봅니다.
    q = make_question()     # 문제를 만듭니다.
    print(q)                # 문제를 출력합니다.
    ans = input("=")        # 사용자에게 정답을 입력받습니다.
    r = int(ans)            # 입력받은 정답을 정수로 바꿉니다.

    # 문제 q를 컴퓨터가 계산한 결과와 사용자가 입력한 결과(r)를 비교합니다.
    if eval(q) == r:
        print("정답!")
        sc1 = sc1 + 1
    else:
        print("오답!")
        sc2 = sc2 + 1

print("---------------")
print("정답:", sc1, "오답:", sc2)
if  sc2 == 0:               # 오답이 0개일 때(전부 정답을 맞췄을 때)
    print("당신은 천재입니다!")

35*13
=11
오답!
2+12
=14
정답!
40*11
=11
오답!
3*4
=12
정답!
5-10
=-5
정답!
---------------
정답: 3 오답: 2