In [1]:
# 문자열 구간 지정
txt1 = 'A tale that was not right'
txt2 = '이 또한 지나가리라.'
print(txt1[3:7])      # ‘ale ’이 출력됨
print(txt1[:6])       # ‘A tale’ 이 출력됨
print(txt2[-4:])      # ‘가리라.’가 출력됨

ale
A tale
가리라.

In [10]:
# 홀수번째 문자만 출력
txt = 'aAbBcCdDeEfFgGhHiIjJkK'
ret = txt[::2]
print(ret)       # ‘abcdefghijk’ 가 출력됨

abcdefghijk

In [11]:
# 짝수번째 문자만 출력
txt = 'aAbBcCdDeEfFgGhHiIjJkK'
ret = txt[1::2]
print(ret)       # ‘ABCDEFGHIJK’ 가 출력됨

ABCDEFGHIJK

In [4]:
# 문자열 꺼구로 만들기 (역순)
txt = 'abcdefghijk'
ret = txt[::-1]
print(ret)       # ‘kjihgfedcba’ 가 출력됨

kjihgfedcba

In [6]:
# 문자열 대소문자 변환
txt = 'A lot of Things occur each day.'
ret1 = txt.upper()
ret2 = txt.lower()
print(ret1)       # 전부 대분자‘A LOT OF THINGS OCCUR EACH DAY.’가 출력됨
print(ret2)       # 전부 소문자‘a lot of things occur each day.’가 출력됨

A LOT OF THINGS OCCUR EACH DAY.
a lot of things occur each day.

In [15]:
# 문자열 좌우 공백 제거
txt = '   양쪽에 공백이 있는 문자열입니다.   '
ret1 = txt.lstrip()      
ret2 = txt.rstrip()      
ret3 = txt.strip()
print('<'+txt+'>')
print('<'+ret1+'>')      # 왼쪽 공백 제거
print('<'+ret2+'>')      # 오른쪽 공백 제거
print('<'+ret3+'>')      # 양쪽 공백 제거

<   양쪽에 공백이 있는 문자열입니다.   >
<양쪽에 공백이 있는 문자열입니다.   >
<   양쪽에 공백이 있는 문자열입니다.>
<양쪽에 공백이 있는 문자열입니다.>

In [12]:
# 문자열 개수 구하기
txt = 'A lot of things occur each day, every day.'
word_count1 = txt.count('o')
word_count2 = txt.count('day')
word_count3 = txt.count(' ')
print(word_count1)  # 3이 출력됨
print(word_count2)  # 2가 출력됨
print(word_count3)  # 8이 출력됨

3
2
8

In [17]:
# 특정문자열 위치 찾기
txt = 'A lot of things occur each day, every day.'
offset1 = txt.find('e')
offset2 = txt.find('day')
offset3 = txt.find('day', 30) 
## 30번 인덱스 이후부터 'day'문자열 찾기 시작

print(offset1)   # 22가 출력됨
print(offset2)   # 27이 출력됨
print(offset3)   # 38이 출력됨

22
27
38

In [24]:
# 문자열 분리(split)
url = 'http://www.naver.com/news/today=20160831'
log = 'name:홍길동 age:17 sex:남자 nation:조선'

ret1 = url.split('/')
print(ret1)
print()
for r in ret1:
    print(r)

print()
ret2 = log.split()
for data in ret2:
    #print(data)
    d1, d2 = data.split(':')
    print('%s -> %s' %(d1, d2))

['http:', '', 'www.naver.com', 'news', 'today=20160831']

http:

www.naver.com
news
today=20160831

name -> 홍길동
age -> 17
sex -> 남자
nation -> 조선

In [50]:
date = '2020-12-28'
print(date)

# 1. '-'로 split하여 프린트
print(date.split('-'))

d1 = date.split('-')
print(d1)

# 2. d1을 '.'으로 붙이고 프린트(join)
print('.'.join(d1))

# 3. 자신의 이름을(이 현 호) split()하고, '-'로 붙이시요(이-현-호)
name = '이 현 호'
n1 = name.split()  # 공백은 생략해도 됨 split(' ')
print(n1)

print('-'.join(n1))

2020-12-28
['2020', '12', '28']
['2020', '12', '28']
2020.12.28
['이', '현', '호']
이-현-호

In [25]:
# 문자열 결합(join)
loglist = ['2016/08/26 10:12:11', '200', 'OK', '이 또한 지나가리라']
bond = ';'
log = bond.join(loglist)
print(log)

2016/08/26 10:12:11;200;OK;이 또한 지나가리라

In [53]:
# 문자열 바꾸기(replace)
txt = 'My password is 1234'
ret1 = txt.replace('1', '0')
ret2 = txt.replace('1', 'python')
print(ret1)   # ‘My Password is 0234’가 출력됨
print(ret2)   # ‘My Password is python234’가 출력됨

txt = '매일 많은 일들이 일어납니다.'
ret3 = txt.replace('매일', '항상')  
ret4 = ret3.replace('일', '사건')
print(ret3)   # ‘항상 많은 일들이 일어납니다.’가 출력됨
print(ret4)   # ‘항상 많은 사건들이 사건어납니다.’가 출력됨

#  replace로 txt의 공백을 없애시오.
ret3 = txt.replace(' ', '')
print(ret3)

My password is 0234
My password is python234
항상 많은 일들이 일어납니다.
항상 많은 사건들이 사건어납니다.
매일많은일들이일어납니다.

In [55]:
# 문자열 정렬
strdata = input('정렬할 문자열을 입력하세요: ')
ret1 = sorted(strdata)                 # 오름차순
ret2 = sorted(strdata, reverse=True)  # 내림차순
print(ret1)
print(ret2)
ret1 = ''.join(ret1)
ret2 = ''.join(ret2)
print('오름차순으로 정렬된 문자열은 <' + ret1 + '> 입니다.')
print('내림차순으로 정렬된 문자열은 <' + ret2 + '> 입니다.')

정렬할 문자열을 입력하세요: cikdewq
['c', 'd', 'e', 'i', 'k', 'q', 'w']
['w', 'q', 'k', 'i', 'e', 'd', 'c']
오름차순으로 정렬된 문자열은 <cdeikqw> 입니다.
내림차순으로 정렬된 문자열은 <wqkiedc> 입니다.

In [67]:
# 순차적인 정수 리스트
range1 = range(10)
range2 = range(10, 20)
print(range1)
print(range2)
print(list(range1))   # [0 ,1, 2, 3, 4, 5, 6, 7, 8, 9]가 출력됨
print(list(range2))   # [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]가 출력됨

for x in range1:
    print(x, end=' ')
print()

print(list(range1))
lt = [x for x in range(10)]
print(lt)
print()

print(list(range2))
gt = [y for y in range(10, 20)]
print(gt)

range(0, 10)
range(10, 20)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
0 1 2 3 4 5 6 7 8 9
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [75]:
## 리스트에서 특정 위치 요소 얻기
listdata = [1, 2, 'a', 'b', 'c', [4, 5, 6]]
val1 = listdata[1]
val2 = listdata[3]
val3 = listdata[5][1]
print(val1)   # 2가 출력됨
print(val2)   # b’가 출력됨
print(val3)   # 5가 출력됨

for i in listdata:
    print(i)

2
b
5
1
2
a
b
c
[4, 5, 6]

In [83]:
# 특정요소의 위치 구하기(index)
solarsys = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']
planet = '지구'
planet1 = '명왕성'
pos = solarsys.index(planet)
print('%s은(는) 태양계에서 %d번째에 위치하고 있습니다.' %(planet, pos+1))
pos = solarsys.index(planet1, 5)
print('%s은(는) 태양계에서 %d번째에 위치하고 있습니다.' %(planet1, pos+1))

지구은(는) 태양계에서 3번째에 위치하고 있습니다.
명왕성은(는) 태양계에서 9번째에 위치하고 있습니다.

In [84]:
# 특정위치 요소 변경
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
planet = '화성'
pos = solarsys.index(planet)
solarsys[pos] = 'Mars'
print(solarsys)

['태양', '수성', '금성', '지구', 'Mars', '목성', '토성', '천왕성', '해왕성']

In [85]:
# 튜플은 변경 불가능
solarsys = ('태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성')
planet = '화성'
pos = solarsys.index(planet)
solarsys[pos] = 'Mars'
print(solarsys)

TypeError: 'tuple' object does not support item assignment

In [86]:
# 특정 구간 요소 추출
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
rock_planets = solarsys[1:4]
gas_planets = solarsys[4:]
print('태양계의 암석형 행성: ', end='');print(rock_planets)
print('태양계의 가스형 행성: ', end='');print(gas_planets)

태양계의 암석형 행성: ['수성', '금성', '지구']
태양계의 가스형 행성: ['화성', '목성', '토성', '천왕성', '해왕성']

In [91]:
# 짝수 번째 요소만 추출
listdata = list(range(1, 21))
evenlist = listdata[1::2]
print(evenlist)

# 홀수 번째 요소만 추출
olist = listdata[::2]
print(olist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [93]:
# 요소 추가 (append)
listdata = []
for i in range(3):
    txt = input('리스트에 추가할 값을 입력하세요[%d/3]: ' %(i+1))
    listdata.append(txt)
print(listdata)

리스트에 추가할 값을 입력하세요[1/3]: 안
리스트에 추가할 값을 입력하세요[2/3]: 녕
리스트에 추가할 값을 입력하세요[3/3]: 하
['안', '녕', '하']

In [115]:
# 0 ~ 10 까지의 수에 2를 곱한것을 append 리스트로
listdata = []
for i in range(11):
    listdata.append(i*2)
print(listdata)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [118]:
# 0 ~ 10 까지의 수에 2를 곱한것을 list comprehension 사용하여 p148 참고
listdata = [i*2 for i in range(11)]
print(listdata)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [94]:
# 특정위치 요소 삽입(insert)
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
pos = solarsys.index('목성')
solarsys.insert(pos, '소행성')
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']

In [95]:
# 특정위치 요소 제거(del)
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
del solarsys[0]
print(solarsys)
del solarsys[-2]
print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
['수성', '금성', '지구', '화성', '목성', '토성', '해왕성']

In [120]:
# 특정 요소 제거(remove)
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
print(solarsys)
solarsys.remove('태양')
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [121]:
# 특정 구간 요소 제거
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
print(solarsys)
del solarsys[1:3]
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
['태양', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [122]:
# 특정 요소 개수 구하기
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
c1 = listdata.count(2)
c2 = listdata.count(7)
print(c1)    # 3이 출력됨
print(c2)    # 1이 출력됨

3
1

In [123]:
# 리스트 제거
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
del listdata
print(listdata)

NameError: name 'listdata' is not defined

In [124]:
# 정렬 1 (sort - 원본데이터에 영향 있음)
namelist = ['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']
namelist.sort()
print(namelist)

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']

In [129]:
# 정렬 2 (sorted - 원본데이터에 영향 없음)
namelist = ['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']
ret1 = sorted(namelist)
ret2 = sorted(namelist, reverse=True)
print(namelist)
print(ret1)
print(ret2)

['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']
['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
['Tom', 'Sams', 'Michale', 'Mary', 'Kelly', 'Bob', 'Aimy']

In [127]:
# 섞기 (shuffle)
from random import shuffle

listdata = list(range(1, 11))
for i in range(3):
    shuffle(listdata)
    print(listdata)    # 출력 결과는 실행할 때마다 달라짐

[3, 5, 1, 9, 6, 4, 10, 7, 2, 8]
[2, 8, 9, 5, 3, 4, 6, 7, 10, 1]
[10, 6, 1, 9, 7, 2, 4, 5, 3, 8]

In [1]:
# 인덱스와 쌍으로 추출하기(enumerate)
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
ret = list(enumerate(solarsys))
print(ret)

for i, body in enumerate(solarsys):
    print('태양계의 %d번째 천체: %s' %(i, body))

[(0, '태양'), (1, '수성'), (2, '금성'), (3, '지구'), (4, '화성'), (5, '목성'), (6, '토성'), (7, '천왕성'), (8, '해왕성')]
태양계의 0번째 천체: 태양
태양계의 1번째 천체: 수성
태양계의 2번째 천체: 금성
태양계의 3번째 천체: 지구
태양계의 4번째 천체: 화성
태양계의 5번째 천체: 목성
태양계의 6번째 천체: 토성
태양계의 7번째 천체: 천왕성
태양계의 8번째 천체: 해왕성

In [2]:
# 합구하기
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
ret = sum(listdata)
print(ret)    # 65가 출력됨

65

In [6]:
# for문으로 합하기
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
listdata_sum=0
for i in listdata:
    listdata_sum += i
print(listdata_sum)

65