In [1]:
인사 = '안녕하세요'

In [2]:
인사

'안녕하세요'

In [3]:
print(인사)

안녕하세요

In [4]:
len(인사)

5

In [5]:
print('안녕하세요\n반갑습니다.')

안녕하세요
반갑습니다.

In [15]:
print('안녕하세요\t반갑습니다.')

안녕하세요	반갑습니다.

In [6]:
print('안녕하세요 \' 반갑습니다.')

안녕하세요 ' 반갑습니다.

In [7]:
인사 + 인사

'안녕하세요안녕하세요'

In [8]:
인사 * 10

'안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요'

In [44]:
'_ ' * 70

'_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ '

In [48]:
'{} 님 새해 복 많이 받으세요'.format('김동욱')

'김동욱 님 새해 복 많이 받으세요'

In [49]:
print("%s 님 새해 복 많이 받으세요" % '김동욱')

김동욱 님 새해 복 많이 받으세요

In [13]:
'    야호    '.strip()

'야호'

In [50]:
인사

'안녕하세요'

In [14]:
인사[2]

'하'

In [16]:
인사[1:4]

'녕하세'

In [17]:
인사[0:4]

'안녕하세'

In [18]:
인사[:4]

'안녕하세'

In [19]:
인사[1:]

'녕하세요'

In [20]:
인사[:]

'안녕하세요'

In [21]:
인사[1:4:2]

'녕세'

In [22]:
인사[::2]

'안하요'

In [23]:
인사[::-1]

'요세하녕안'

In [24]:
'~~'.join(['딸기','수박','바나나'])

'딸기~~수박~~바나나'

In [25]:
y=list(인사)

In [26]:
y

['안', '녕', '하', '세', '요']

In [27]:
y[0] = '행'
y[1] = '복'

In [28]:
y

['행', '복', '하', '세', '요']

In [29]:
'{}님 새해 복'.format('김동욱')

'김동욱님 새해 복'

In [30]:
'{a}님, 그동안 참 {b}습니다.'.format(a='김동욱', b='감사했')

'김동욱님, 그동안 참 감사했습니다.'

In [31]:
x = [10, 2, 3]

In [32]:
x

[10, 2, 3]

In [33]:
x.append(100)

In [34]:
x

[10, 2, 3, 100]

In [35]:
x.pop(-1)

100

In [36]:
x

[10, 2, 3]

In [37]:
del x[1]

In [38]:
x

[10, 3]

In [39]:
x.insert(2, 49)

In [40]:
x

[10, 3, 49]

In [41]:
d = {'사과': 100, '딸기': 200}

In [42]:
d['사과']

100

In [54]:
d.get('딸기')

200

In [52]:
d.get('바나나', 0)

0

In [53]:
list(d)

['사과', '딸기']

In [55]:
d.keys()

dict_keys(['사과', '딸기'])

In [56]:
d.values()

dict_values([100, 200])

In [57]:
d.items()

dict_items([('사과', 100), ('딸기', 200)])

In [58]:
p = {1, 1, 2, 3}
q = {2, 3, 4}

In [60]:
p

{1, 2, 3}

In [61]:
p & q # 교집합

{2, 3}

In [62]:
p | q # 합집합

{1, 2, 3, 4}

In [63]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [64]:
set('hello') # 집합으로 바꾼다.

{'e', 'h', 'l', 'o'}

In [65]:
list(p)

[1, 2, 3]

In [66]:
for number in range(3): 
    print('hello')
    print('world')
    
# 다음을 3회 반복하라    
# 들여 쓰기 주의, 보통 4칸 들여씀

hello
world
hello
world
hello
world

In [67]:
for number in range(2):
    print(number)
    print('hello')
    print('world')

0
hello
world
1
hello
world

In [68]:
for x in range(1, 5):
    print(x)

1
2
3
4

In [69]:
for x in range(1, 10, 2):
    print(x)

1
3
5
7
9

In [70]:
menu = [20, 220, 620]

In [71]:
for number in menu:
    print(number)

20
220
620

In [72]:
total = 0
for number in menu:
    total = total + number
    print(number, total)

20 20
220 240
620 860

In [73]:
total = 0
for month in range(48):
    total = total + 100
    total = total * 1.05

In [74]:
total

19742.66625857847

In [80]:
for i in range(2, 10):
    for j in range(1, 9):
        print(i, '*', j, '=', i * j)
    print('----------')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
----------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
----------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
----------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
----------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
----------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
----------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
----------

In [76]:
help(range) #도움말 보기

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [77]:
# 사용자 입력받기
k = input('<값>을 입력하세요: ')
print('당신이 입력한 값은 <' + k + '> 입니다.')

<값>을 입력하세요: 111
당신이 입력한 값은 <111> 입니다.